/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.bookmark-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.bookmark-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s; /* Added color transition */
  position: relative;
}

.bookmark-button:hover {
  background-color: var(--secondary-color);
  color: var(--icon-color); /* Change text color on hover */
}

.bookmark-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  color: var(--icon-color);
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  font-weight: bold;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); /* Added drop-shadow */
  transition: box-shadow 0.2s; /* Added box-shadow transition */
}

.bookmark-button:hover .bookmark-icon {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}